<table class="ui celled table">
	<caption>User list</caption>
	<thead>
		<tr>
			<th id="username">Username</th>
			<th id="topics">Topics</th>
			<th id="posts">Posts</th>
			<th id="action">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users">
			<td headers="username" data-label="Username">{{ user.username }}</td>
			<td headers="topics" data-label="Topics">{{ user.Topics.length }}</td>
			<td headers="posts" data-label="Posts">{{ user.Posts.length }}</td>
			<td headers="action" data-label="Action">
				<a [routerLink]="['/admin/users', user.id]">
					<i class="pencil icon" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>
