<div>
	<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
		<div>
			<label for="name">Username</label>
			<input type="text" id="name" [(ngModel)]="user.username" name="username" #username="ngModel" minlength="3" maxlength="12" required>
		</div>

		<div>
			<label for="password">Password</label>
			<input type="password" id="password" [(ngModel)]="user.password" name="password" #passwor="ngModel" minlength="8" maxlength="64" required>
		</div>

		<div *ngFor="let error of errors">  
			{{ error }}
		</div>

		<button type="submit" [disabled]="!loginForm.form.valid">Log in</button>

	</form>
</div>