<h2 class="ui header">Forum</h2>

<div *ngIf="topic">
	<h4 class="ui top attached header inverted">
		{{ topic.title }}
	</h4>

	<div class="ui attached segment">
		<div class="ui form">
			<form #editTopicForm="ngForm" (ngSubmit)="onSubmit()">
				<div class="field">
					<label for="title">Title</label>
					<input type="text" id="title" [(ngModel)]="topic.title" name="title" #title="ngModel" minlength="5" maxlength="32" required>
				</div>

				<div class="field">
					<label for="message">Message</label>
					<textarea id="message" [(ngModel)]="topic.message" name="message" #title="ngModel" required></textarea>
				</div>

				<div *ngFor="let error of errors">  
					{{ error.message }}
				</div>

				<button type="submit" class="ui button" [disabled]="!editTopicForm.form.valid">Save</button>
			</form>
		</div>
	</div>
</div>