<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui image header">
			<div class="content">
				Register
			</div>
		</h2>
		<form class="ui large form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
			<div class="ui stacked segment left aligned">
				<div class="field">
					<label for="name">Username</label>
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" id="name" [(ngModel)]="user.username" name="username" #username="ngModel" minlength="3" maxlength="12" required>
					</div>
				</div>
				<div class="field">
					<label for="password">Password</label>
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" id="password" [(ngModel)]="user.password" name="password" #passwor="ngModel" minlength="8" maxlength="64" required>
					</div>
				</div>
				<div class="field">
					<label for="password_confirmation">Password (Confirmation)</label>
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" id="password_confirmation" [(ngModel)]="user.password_confirmation" name="password_confirmation" #passwor="ngModel" minlength="8" maxlength="64" required>
					</div>
				</div>
				<div class="ui error message" [class.visible]="errors.length">
					<p *ngFor="let error of errors">
						{{ error.message }}
					</p>
				</div>
				<button type="submit" class="ui fluid large submit button" [disabled]="!loginForm.form.valid || user.password != user.password_confirmation">Register</button>
			</div>
		</form>

		<div class="ui message">
			<a routerLink="/login" class="left aligned">Sign In</a>
		</div>
	</div>
</div>